<!---- {% load static %} ----->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mappus</title>
    <style>
        #footer{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        #header{
            width: 100%;
            position: absolute;
            top: 0;
        }
    </style>
</head>
<body>
<header id="header">
    <div style="text-align: center; width: 100%;"> Mappus </div>
    <div> good </div>
</header>


<main>
    {% block content %}
    {% endblock %}
</main>

<footer id="footer">
    <div> copyright to Team Porche 2019 </div>
    <div> developed by 박진혁 이수완</div>
    <div> designed by 이혜린</div>
</footer>
</body>
</html>